
/*========================
	Start Clients CSS
==========================*/
.clients{
	/* background-image:url('/assets/img/client-bg.jpg'); */
	background-size:cover;
	background-position:center;
	padding:100px 50px;
	position:relative;
}
.clients .single-clients{
	
}
.clients .single-clients img {
	width: 100%;
	cursor: pointer;
	text-align: center;
	float: none;
	padding: 0 35px;
}
.card-image {
    /* Add your styles here for the regular-sized image */
    width: 50px; /* Example width */
    height: auto; /* Maintain aspect ratio */
}
/*========================
	End Clients CSS
==========================*/ 